1. What is the length of the salaries list.

In [1]:
salaries = ['20k', '40k', '50k', '60k', '35k', '89k','40k']

In [5]:
len(salaries)

7

2. Retrieve the third salary in the list by using index.

In [12]:
salaries[3]

'60k'

3. Extract the last salary from the list by using a negative index.

In [14]:
salaries[-1]

'40k'

4. Slice the salaries list to get only the middle three salaries.

In [18]:
salaries[2:5]

['50k', '60k', '35k']

5. Add a new salary to the list, ‘100k’ by using append() method.

In [20]:
salaries.append('100K')

In [22]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100K']

6. Add a new salary to the list, ‘120k’ without method

In [39]:
salaries=['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100K','120k']

In [41]:
salaries

['20k', '40k', '50k', '60k', '35k', '89k', '40k', '100K', '120k']

7. Replace the third salary in the list with '55k' and print the updated list.

In [43]:
salaries=['20k', '40k', '50k', '55k', '35k', '89k', '40k', '100K', '120k']

In [45]:
salaries

['20k', '40k', '50k', '55k', '35k', '89k', '40k', '100K', '120k']

8. Count how many times '40k' appears in the list.

In [51]:
salaries=['20k', '40k', '50k', '55k', '35k', '89k', '40k', '100K', '120k']

In [53]:
salaries.count('40k')

2

9. Insert a new salary at the second position.

In [70]:
salaries.insert(1,'145k')
print(salaries)

['20k', '145k', '40k', '130K', '90K', '90K', '50k', '55k', '35k', '89k', '40k', '100K', '120k']

10. Reverse the order of the salaries list with method.

In [74]:
salaries.reverse()
print(salaries)

['120k', '100K', '40k', '89k', '35k', '55k', '50k', '90K', '90K', '130K', '40k', '145k', '20k']

11. Reverse the order of the salaries list without method.

In [78]:
salaries.reverse()

In [80]:
salaries

['20k',
 '145k',
 '40k',
 '130K',
 '90K',
 '90K',
 '50k',
 '55k',
 '35k',
 '89k',
 '40k',
 '100K',
 '120k']